<div class='container'>



		<div class='row'>

	

				

		<div class='col-md-2' >
			

	<!-- 				
			<i ng-show='exito' class="fa fa-check" aria-hidden="true"></i>
			<i ng-hide='exito' class="fa fa-o" aria-hidden="true"></i>
 -->




		</div>

		

		<div class='col-xs-12 col-sm-6 col-md-10   animated bounceInDown' id='campana'>
			
				<div class="flex-container paralelogramo">

					<div class='titulo '>Campaña</div>
					<div class="contenido ">{{cliente.campana}}</div>
					<div class='titulo'> Agente</div>


					<div ng-if='nomagente' class='contenido'>{{nomagente}}</div>

				</div>
		
		</div>




		</div>

		<hr></hr>




		<h3 ><span class=''>Venta Recupero DNI : {{ndni}}</span></h3>
		<div class='row ' >

		<div class='col-md-4'>

		<bbvacomponent recupero='1'></bbvacomponent>

		</div>
		
		<div class='col-md-4'>

		<ventachubbcomponent recupero='1'></ventachubbcomponent>
		
		</div>

		<div class='col-md-4'>

		<tipificacioncomponent recupero='1'></tipificacioncomponent>
		
		</div>

		</div>

		
		
<!-- <llamadascomponent></llamadascomponent>
 -->
</div>

