
<div class='container'>



		<div class='row'>

	



		<div class='col-md-2' >
			

	<!-- 				
			<i ng-show='exito' class="fa fa-check" aria-hidden="true"></i>
			<i ng-hide='exito' class="fa fa-o" aria-hidden="true"></i>
 -->


			<input  placeholder='Ingrese DNI...' ng-change='go(dni)' type="text" class="form-control"  ng-model='dni' id="nombre" >



		</div>



		<div class='col-xs-12 col-sm-6 col-md-10   animated bounceInDown' id='campana'>
			
				<div class="flex-container paralelogramo">

					<div class='titulo '>Campaña</div>
					<div class="contenido ">{{cliente.campana}}</div>
					<div class='titulo'> Agente</div>


					<div ng-if='nomagente' class='contenido'>{{nomagente}}</div>

				</div>
		
		</div>



		</div>

		<hr></hr>


<!--  		<div ng-show='cliente.fecha_tipifica_bbva'>

 		<p><center> Exitos! </center></p>

		<center><img src="https://s-media-cache-ak0.pinimg.com/originals/c5/ab/d7/c5abd76f5fe4d2d7163ed809fee84bb2.gif" class='img-responsive'></center>
</div> 

 -->
		<h3>DNI :{{ndni}}</h3>
		<div class='row ' >

		<div class='col-md-4'>

		<bbvacomponent></bbvacomponent>

		</div>
		
		<div class='col-md-4'>

		<ventachubbcomponent></ventachubbcomponent>
		
		</div>

		<div class='col-md-4'>

		<tipificacioncomponent></tipificacioncomponent>
		
		</div>

		</div>

		
		
<!-- <llamadascomponent></llamadascomponent>
 -->
</div>



